<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deltasystem.quietness">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".toolbar_items.settings"
            android:exported="true" />
        <activity
            android:name=".sing_in_up.TermOfService"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.popup" />
        <activity
            android:name=".activity_menu.CalendarView"
            android:exported="true" />
        <activity
            android:name=".activity_menu.Stories"
            android:exported="true" />
        <activity
            android:name=".toolbar_items.AboutUs"
            android:exported="true" />
        <activity
            android:name=".toolbar_items.Profile"
            android:exported="true" />
        <activity
            android:name=".activity_menu.Menu"
            android:exported="true" />
        <activity
            android:name=".activity_menu.Musica"
            android:exported="true" />
        <activity
            android:name=".sing_in_up.Encuesta"
            android:exported="true" />
        <activity
            android:name=".sing_in_up.Login"
            android:exported="true" />
        <activity
            android:name=".sing_in_up.SignUp"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>